{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">
<style>
    .button {
    background-color : #04AA6D;
    border: #555555;
    color : white;
  	font-family: "Ludia console", monaco,  monospace;
    text-align: center;
    display: inline-block;
    padding : 12px 16px;
    margin : 4px 2px;
    }
</style>
<body>
<div id="login" class="login">
    {% block login %}
{% if user.is_authenticated %}
   Welcome back, {{ user.username }}.
<form action="{% url 'logout' %}" method="post">
   {% csrf_token %}
  <button type="submit">Log Out</button>
</form>
{% else %}
   Please <a href="{% url 'login' %}?next={{request.path}}">Login</a>
{% endif %}
    {% endblock %}
    </div>
<div id="messages">
    {% block messages %}
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <p  style="color: red">{{ message }}</p>
        {% else %}
        <p> {{ message }}</p>
    {% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}
    {% endblock %}
    </div>
<div id="content">
    {% block content %}{% endblock %}
</div>
<div id="navigation">
    {% block navigation %}
    <ul>
        <a href="/polls/" class="button"> Back to poll index </a>
    </ul>
    {% endblock %}
</div>
</body>