{% extends "polls/base_template.html" %}
{% block content %}
<style>
    form fieldset{
    background-color : rgba(255, 255, 255, 0.5);
}
</style>
<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>{{ question.question_text }}</h1></legend>
    {% for choice in question.choice_set.all %}
        {% if choice.id == prev_vote %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" checked>
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% else %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endif %}
    {% endfor %}
</fieldset>
<input type="submit" value="Vote">
</form>
{% endblock %}
{% block navigation %}
<ul>
    <a href="/polls/" class="button"> Back to poll index </a>
    <a href="{% url 'polls:results' question.id %}" class="button"> View results </a>
</ul>
{% endblock %}